html {
  font-size: 15px;
}
@media screen and (min-width: 400px) {
  html {
    font-size: 19px;
  }
}
body,
html {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}
body {
  padding-top: 2rem;
  background-color: #eee;
}
header {
  width: 100%;
  background: #fe5400;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
div.head-cont {
  height: 2rem;
  width: 100%;
}
div.head-inner h1 {
  color: #fff;
  font-size: 1.5rem;
  padding-left: 0.5rem;
}
div.search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 6px 1rem 6px 50px;
  box-sizing: border-box;
}
div.search input {
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  background-color: rgba(0,0,0,0.5);
}
div.search span {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 2rem;
  font-size: 0.8rem;
  color: #fff;
  transform: translate(-50%, -50%);
}
.carousel {
  position: relative;
  overflow: hidden;
}
.inner-c {
  width: 100%;
}
.inner-c >ul {
  width: 100%;
  position: relative;
}
.inner-c >ul >li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.inner-c >ul >li img {
  width: 100%;
}
.circles {
  width: 100%;
  height: 0.5rem;
  position: absolute;
  bottom: 0.6rem;
  list-style: none;
  text-align: center;
}
.circles li {
  display: inline-block;
  line-height: 0.5rem;
  width: 1rem;
  height: 0.5rem;
  background-color: rgba(0,0,0,0.5);
}
.circles li.cur {
  background-color: #f41;
}
nav {
  width: 100%;
  height: 10rem;
  padding-top: 1rem;
  border-bottom: 1px solid #f8f8f0;
  background: #fff;
}
nav ul {
  width: 100%;
  height: 100%;
}
nav ul li {
  height: 50%;
  width: 20%;
  float: left;
  text-align: center;
}
nav ul li a {
  color: #666;
  font-size: 12px;
  text-decoration: none;
}
nav ul li a img {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.hotSpots {
  width: 100%;
  background: #fff;
  font-size: 0.8rem;
}
.hotSpots a {
  display: inline-block;
  width: 5rem;
  height: 2rem;
  box-sizing: border-box;
  padding: 6px;
  border-right: 1px solid #e8e8e8;
  vertical-align: middle;
}
.hotSpots a img {
  width: 100%;
  height: 100%;
}
.hotSpots span {
  line-height: 2rem;
}
.hotSpots span:first-of-type {
  display: inline-block;
  line-height: 1.2rem;
  margin: 0.5rem;
  padding: 0 0.5rem;
  box-sizing: border-box;
  border: 1px solid #f22;
  border-radius: 4px;
}
.rob {
  width: 100%;
  margin: 0.5rem auto;
  overflow: hidden;
  box-sizing: border-box;
}
.rob img {
  width: 100%;
  height: 100%;
}
.rob .rob-left {
  float: left;
  width: 38%;
  height: 10rem;
  border-right: 1px solid transparent;
}
.rob .rob-left a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.rob .rob-right {
  float: left;
  width: 61.6%;
  height: 10rem;
}
.rob .rob-right .rob-right-top {
  width: 100%;
  height: 4.5rem;
  border-bottom: 1px solid transparent;
}
.rob .rob-right .rob-right-top a {
  display: inline-block;
  width: 50%;
  height: 100%;
}
.rob .rob-right .rob-right-bottom {
  width: 100%;
  height: 5.5rem;
}
.rob .rob-right .rob-right-bottom a {
  display: inline-block;
  width: 50%;
  height: 100%;
}
.rob .rob-right .rob-right-bottom a:first-of-type {
  box-sizing: border-box;
  border-right: 1px solid transparent;
}
footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  border-top: 1px solid #f8f8f0;
}
footer ul {
  width: 100%;
  overflow: hidden;
}
footer ul li {
  text-align: center;
  float: left;
  width: 20%;
  padding-top: 5px;
  font-size: 0.8rem;
}
footer ul li a {
  color: #666;
  text-decoration: none;
}
footer ul li a span {
  font-size: 1.2rem;
  display: block;
}
.benefits {
  width: 100%;
}
.title {
  width: 100%;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  background: #fff;
  border-bottom: 1px solid #eee;
  color: #ff6c00;
  font-size: 0.9rem;
}
.title img {
  box-sizing: border-box;
  padding: 6px;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}
.goods-list {
  overflow: hidden;
  background: #fff;
}
.goods-list .goods-1 {
  border-right: 1px solid #eee;
  box-sizing: border-box;
  float: left;
  width: 40%;
}
.goods-list .goods-1 img {
  width: 100%;
  height: 100%;
}
.goods-list .goods-2 {
  float: left;
  width: 20%;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}
.goods-list .goods-2 img {
  width: 100%;
}
.goods-list .goods-3 {
  float: left;
  width: 20%;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}
.goods-list .goods-3 img {
  width: 100%;
}
.goods-list .goods-4 {
  float: left;
  width: 20%;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}
.goods-list .goods-4 img {
  width: 100%;
}
.cat {
  margin: 0.5rem 0;
  width: 100%;
  overflow: hidden;
}
.cat .cat-goods-list {
  width: 100%;
}
.cat .cat-goods-list .cat-goods {
  width: 50%;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid #eee;
}
.cat .cat-goods-list .cat-goods .cat-goods-top {
  width: 100%;
}
.cat .cat-goods-list .cat-goods .cat-goods-top a {
  display: block;
  font-size: 0;
}
.cat .cat-goods-list .cat-goods .cat-goods-top a img {
  width: 100%;
}
.cat .cat-goods-list .cat-goods .cat-goods-bot {
  font-size: 0;
}
.cat .cat-goods-list .cat-goods .cat-goods-bot a {
  display: inline-block;
  width: 50%;
}
.cat .cat-goods-list .cat-goods .cat-goods-bot a img {
  width: 100%;
}
