rem(a)
  return a/16rem
body,html
  width 100%
  max-width 480px
  margin 0 auto
  //height 100%
body
  position relative
  //padding-bottom rem(50)
html
  font-size 16px
  font-family "楷体"

@media screen and (max-width:600px)
  html
    font-size 18px
@media screen and (min-width:640px)
  html
    font-size 20px
@media screen and (max-width:320px)
  html
    font-size 15px
@media screen and (max-width:360px)
  html
    font-size 16px
.body-container
  position relative
  width 100%
  //height 100%
  transition 0.5s;
  background-color #eee
  z-index 10
  overflow hidden
  //padding-bottom rem(50)
header
  width 100%
  height rem(60)
  .search
    width 100%
    height rem(60)
    text-align center
    box-sizing border-box
    background-color #f8f8f8
    border-bottom 1px solid #ebebeb
    margin rem(40) 0 rem(10) 0
    padding rem(10) rem(10)
    .classify
      width 10%
      height rem(35)
      float left
      background-image: url(../images/list.png)
      background-color #d81e06
      background-size 100% 100%
      border 2px solid #d81e06
      border-radius 5px 0 0 5px
    .search-txt
      width 80%
      padding 0 rem(20)
      height rem(35)
      float left
      box-sizing border-box
      border 2px solid #d81e06
    .search-but
      width 10%
      height rem(35)
      float left
      background-image: url(../images/search.png)
      background-color #d81e06
      background-size 100% 100%
      border 2px solid #d81e06
      border-radius 0 5px 5px 0
.logo-login
  width 100%
  height rem(40)
  background-color #f8f8f8
  position fixed
  z-index 99
  top 0
  left 0
  border-bottom 1px solid #ebebeb
  .logo
    width 18%
    height 100%
    float left
    margin-left rem(10)
    img
      width 100%
      height 100%
  .login
    width 50%
    height 100%
    float right
    text-align center
    box-sizing border-box
    #username
      float left
      height 100%
      .username
        width rem(60)
        text-overflow ellipsis
        overflow hidden
        white-space normal
    a
      display inline-block
      color #333
      float left
      line-height rem(40)
      margin-left rem(10)
      text-decoration none
      &.car
        width rem(30)
        height rem(30)
        float right
        background-image: url(../images/car.png)
        background-size 100% 100%
        margin rem(5) rem(10) 0 0
.footer
  width 100%
  height rem(100)
  background-color #4e525e
  text-align center
  line-height rem(40)
  font-size 12px
  ul
    list-style none
    li
      display inline-block
      border-radius 5px
      width 20%
      border 1px solid #42454d
      margin rem(10) 0
      box-sizing border-box
      a
        width 100%
        height 100%
        color #b9bcc1
        text-decoration none
  p
    width 100%
    color #b9bcc1





footer
  position fixed
  bottom 0
  left 0
  z-index 99
  padding-top rem(5);
  box-sizing border-box
  width 100%
  height rem(50)
  background-color #f8f8f8
  border-top 1px solid #ebebeb
  ul
    width 100%
    text-align center
    li
      display inline-block
      width 18%
      height 100%
      a
        width 100%
        font-size rem(12)
        color #3c3c3c
        text-decoration none
        img
          display block
          margin 0 auto
          width rem(25)
          height rem(25)




