body,
html {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}
body {
  position: relative;
}
html {
  font-size: 16px;
  font-family: "楷体";
}
@media screen and (max-width: 600px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 640px) {
  html {
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 16px;
  }
}
.body-container {
  position: relative;
  width: 100%;
  transition: 0.5s;
  background-color: #eee;
  z-index: 10;
  overflow: hidden;
}
header {
  width: 100%;
  height: 3.75rem;
}
header .search {
  width: 100%;
  height: 3.75rem;
  text-align: center;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ebebeb;
  margin: 2.5rem 0 0.625rem 0;
  padding: 0.625rem 0.625rem;
}
header .search .classify {
  width: 10%;
  height: 2.1875rem;
  float: left;
  background-image: url("../images/list.png");
  background-color: #d81e06;
  background-size: 100% 100%;
  border: 2px solid #d81e06;
  border-radius: 5px 0 0 5px;
}
header .search .search-txt {
  width: 80%;
  padding: 0 1.25rem;
  height: 2.1875rem;
  float: left;
  box-sizing: border-box;
  border: 2px solid #d81e06;
}
header .search .search-but {
  width: 10%;
  height: 2.1875rem;
  float: left;
  background-image: url("../images/search.png");
  background-color: #d81e06;
  background-size: 100% 100%;
  border: 2px solid #d81e06;
  border-radius: 0 5px 5px 0;
}
.logo-login {
  width: 100%;
  height: 2.5rem;
  background-color: #f8f8f8;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ebebeb;
}
.logo-login .logo {
  width: 18%;
  height: 100%;
  float: left;
  margin-left: 0.625rem;
}
.logo-login .logo img {
  width: 100%;
  height: 100%;
}
.logo-login .login {
  width: 50%;
  height: 100%;
  float: right;
  text-align: center;
  box-sizing: border-box;
}
.logo-login .login #username {
  float: left;
  height: 100%;
}
.logo-login .login #username .username {
  width: 3.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}
.logo-login .login a {
  display: inline-block;
  color: #333;
  float: left;
  line-height: 2.5rem;
  margin-left: 0.625rem;
  text-decoration: none;
}
.logo-login .login a.car {
  width: 1.875rem;
  height: 1.875rem;
  float: right;
  background-image: url("../images/car.png");
  background-size: 100% 100%;
  margin: 0.3125rem 0.625rem 0 0;
}
.footer {
  width: 100%;
  height: 6.25rem;
  background-color: #4e525e;
  text-align: center;
  line-height: 2.5rem;
  font-size: 12px;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  display: inline-block;
  border-radius: 5px;
  width: 20%;
  border: 1px solid #42454d;
  margin: 0.625rem 0;
  box-sizing: border-box;
}
.footer ul li a {
  width: 100%;
  height: 100%;
  color: #b9bcc1;
  text-decoration: none;
}
.footer p {
  width: 100%;
  color: #b9bcc1;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  padding-top: 0.3125rem;
  box-sizing: border-box;
  width: 100%;
  height: 3.125rem;
  background-color: #f8f8f8;
  border-top: 1px solid #ebebeb;
}
footer ul {
  width: 100%;
  text-align: center;
}
footer ul li {
  display: inline-block;
  width: 18%;
  height: 100%;
}
footer ul li a {
  width: 100%;
  font-size: 0.75rem;
  color: #3c3c3c;
  text-decoration: none;
}
footer ul li a img {
  display: block;
  margin: 0 auto;
  width: 1.5625rem;
  height: 1.5625rem;
}
